.about-company {
  min-height: 540px;
  padding-top: 120px;
  padding-bottom: 100px;

  @include vp-1023 {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 48px;
    min-height: 435px;
  }
}

.about-company__grid {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-left: 300px;
  position: relative;

  @include vp-1023 {
    padding-left: 224px;
  }
}

.about-company__year {
  position: absolute;
  left: 68px;
  top: 4px;
  margin-left: -36px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-clip: text;
  color: transparent;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 156px;
  line-height: 220px;
  background-color: $third-color;
  background-image: url("../img/backgrounds/year.jpg");
  background-position: 40% 20%;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/year@2x.jpg");
  }

  @include vp-1023 {
    left: 62px;
    top: 10px;
  }

  @include vp-767 {
    display: none;
  }
}

.about-company__header {
  margin: 0;
  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @include vp-767 {
    font-size: 28px;
    line-height: 140%;
  }
}

.about-company__description {
  margin: 0;
  margin-bottom: 14px;
  line-height: 22px;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 134.4%;

    &--hidden {
      @include visually-hidden;
    }
  }
}

.about-company__button {
  margin-top: 14px;
  justify-self: end;
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  min-height: 45px;
  padding: 3px;
  color: $third-color;
  background-color: inherit;
  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid $third-color;
  border-radius: 3px;

  @include vp-1023 {
    margin: 0;
  }

  @include vp-767 {
    margin-top: -4px;
    min-width: 160px;
    min-height: 35px;
  }
}
