.main-header {
  background-image: linear-gradient(0deg, rgba(4, 24, 39, 0) 0, $second-background-color  18px);
  padding-top: 30px;
  padding-bottom: 35px;
  color: $second-color;
  position: sticky;
  top: 0;

  @include vp-1023 {
    background-image: linear-gradient(0deg, rgba(4, 24, 39, 0) 0, $second-background-color  15px);
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    background-image: linear-gradient(0deg, rgba(4, 24, 39, 0) 0, $second-background-color  11px);
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.main-header__grid-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  justify-items: start;
  gap: 30px;

  @include vp-1023 {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    row-gap: 20px;
    justify-content: end;
    align-items: start;
  }

  @include vp-767 {
    align-items: end;
  }
}

.main-header__main-logo-link {
  line-height: 0;
  grid-column: 1/4;

  @include vp-1023 {
    margin-right: auto;
  }
}

.main-header__main-logo {
  width: 215px;
  height: 55px;
  object-fit: contain;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.main-header__link {
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 0 2px 6px;
  color: $second-color;
  line-height: 18px;

  @include vp-1023 {
    padding: 10px;
    margin-right: 20px;
  }

  @include vp-767 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.main-header__email {
  grid-column: 4/6;
}

.main-header__phone {
  grid-column: 6/9;
}

.main-header__button {
  grid-column: 9/11;
  justify-self: start;
  padding: 11px 16px;
  margin-bottom: 5px;
  background-color: transparent;
  border: 1px solid $second-color;
  border-radius: 3px;
  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $second-color;
  cursor: pointer;

  @include vp-1023 {
    display: none;
  }
}

.main-header__link-text {
  @include vp-1023 {
    @include visually-hidden;
  }
}
