.main-footer {
  background-color: $second-background-color;
  color: $second-color;
  padding: 50px 0 55px;

  @include vp-767 {
    padding: 35px 0;

    .container {
      padding: 0;
    }
  }
}

.main-footer__container {
  @include vp-767 {
    padding: 20px 25px;
    border-bottom: 1px solid $border-color-footer;
  }
}

.main-footer__grid-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: start;
  justify-items: start;
  gap: 30px;

  @include vp-1023 {
    justify-items: unset;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 38px;
  }

  @include vp-767 {
    display: block;
  }
}

.main-footer__logo-and-social-links {
  grid-column: 1/4;
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    grid-column: 1/-1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 15px;
    padding-bottom: 25px;
    padding-top: 0;
  }
}

.main-footer__main-logo-link {
  line-height: 0;
}

.main-footer__main-logo {
  width: 215px;
  height: 55px;
  object-fit: contain;
}

.main-footer__social-links-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 30px;
  padding-left: 10px;
  display: flex;
  gap: 15px;

  @include vp-1023 {
    margin: 0;
    padding: 0;
    margin-right: -5px;
    margin-top: -5px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.main-footer__social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer__site-sections {
  grid-column: 4/8;

  @include vp-1023 {
    grid-column: 1/3;
  }
}

.main-footer__section-header {
  margin: 0;
  font-family: $roboto-condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;

  @include vp-1023 {
    margin-bottom: 22px;
  }

  @include vp-767 {
    margin: 0;
    line-height: 19px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 1px;
      background-color: $plus-minus-button-color;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }

    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 1px;
      background-color: $plus-minus-button-color;
      right: 0;
      top: 50%;
      transform: translate(0, -50%) rotate(90deg);
    }

    &--open {
      &::before {
        width: 0;
        height: 0;
      }
    }
  }
}

.main-footer__site-sections-parts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 10px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }

  @include vp-767 {
    row-gap: 10px;
  }
}

.main-footer__site-sections-part {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @include vp-1023 {
    margin: 0;
    row-gap: 8px;
  }

  @include vp-767 {
    margin-top: -5px;
    row-gap: 10px;
  }
}

.main-footer__site-sections-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);


  @include vp-767 {
    font-size: 14px;

    &--address {
      margin-bottom: 10px;
    }

    &--phone {
      line-height: 140%;
    }
  }
}

.main-footer__our-office {
  grid-column: 8/11;

  @include vp-1023 {
    grid-column: 3/5;
  }
}

.main-footer__section {
  padding-top: 5px;

  @include vp-1023 {
    padding: 0;
  }

  @include vp-767 {
    position: relative;
  }
}

.main-footer__accordion-toggler {
  display: none;

  @include vp-767 {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background-color: rgba(202, 47, 47, 0.2);
    // background-color: transparent;
    z-index: 1;
    border: none;
  }
}

.main-footer__accordion {
  @include vp-767 {
    margin-top: 15px;

    &--hidden {
      @include visually-hidden;
    }
  }
}
