.main__screen {
  margin-top: -120px;
  padding-top: 120px;
  color: $second-color;
  background-color: $second-background-color;
  background-image: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/backgrounds/main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-image: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%), url("../img/backgrounds/main-background@2x.jpg");
  }

  @include vp-1023 {
    margin-top: -100px;
    padding-top: 100px;
  }

  @include vp-767 {
    margin-top: -70px;
    padding-top: 70px;
  }
}
