.main-screen {
  padding-top: 120px;
  color: $second-color;
  background-color: $second-background-color;
  background-image:
    linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%),
    url("../img/backgrounds/main-background.jpg");
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%),
      url("../img/backgrounds/main-background@2x.jpg");
  }

  @include vp-1023 {
    padding-top: 100px;
    background-image:
      linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%),
      url("../img/backgrounds/main-background-tablet.jpg");
    background-position-x: 19%;
    background-position-y: 50%;
    background-size: 178% auto;

    @media (min-resolution: $retina-dppx) {
      background-image:
        linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%),
        url("../img/backgrounds/main-background-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    padding-top: 70px;
    background-position-x: 24%;
    background-position-y: 50%;
    background-size: 378% auto;
  }
}

.main-screen__grid {
  display: flex;
  flex-direction: column;
  padding: 185px 176px 280px;
  gap: 32px;

  @include vp-1023 {
    padding: 80px 50px 205px;
    gap: unset;
  }

  @include vp-767 {
    padding: 80px 25px 190px;
    gap: 8px;
  }
}

.main-screen__title {
  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 42px;
  }
}

.main-screen__header {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  max-width: 684px;

  @include vp-767 {
    font-size: 14px;
    line-height: 155%;
  }
}

.main-screen__consultation-button {
  margin-top: 14px;
  align-self: flex-start;
  padding: 17px 27px;
  background-color: $third-background-color;
  border: none;
  border-radius: 3px;
  font-family: $roboto-condensed;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;

  @include vp-1023 {
    margin-top: 57px;
    margin-left: 45px;
  }

  @include vp-767 {
    margin: 0;
    margin-top: 37px;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    padding: 12px;

    span {
      @include visually-hidden;
    }

    &::before {
      content: "бесплатная консультация";
    }
  }

  @include behavior;
}
